#description {
    height: 100vh;
    width: 100vw;
    /* adicionando imagem de fundo */
    background: url('images/person.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    color: #fff;
    margin-top: 160px;
    width: 300px;
    margin-left: 40px;
    text-align: justify;
}

.title {
    font-weight: 500;
    font-size: 35px;
    text-align: left;
}

.line {
    border-bottom: 2px solid #fff;
    width: 120px;
    margin-bottom: 20px;
}
 
.text-h2 {
    font-weight: 300;
}

.text-p {
    width: 300px;
}
 
.spacing-bottom-text {
    margin-bottom: 20px;
}
 
/* Medias */

@media(min-width: 1300px) {
    #description {
        height: 100vh;
        width: 100vw;
        /* adicionando imagem de fundo */
        background: url('images/person.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
    }
     
    .text {
        color: #fff;
        margin-top: 200px;
        width: 800px;
        margin-left: 100px;
        text-align: justify;
    }
     
    .title {
        font-weight: 500;
        font-size: 40px;
    }
     
    .line {
        border-bottom: 2px solid #fff;
        width: 120px;
        margin-bottom: 20px;
    }
     
    .text-h2 {
        font-weight: 300;
    }
     
    .text-p {
        width: 600px;
    }
     
    .spacing-bottom-text {
        margin-bottom: 20px;
    }
     
    .link-no-decoration{
        text-decoration: none;
        color: inherit;
    } 
}